body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen>* {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 20px;
    top: 20px;
}

a.back {
    display: block;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

a.back:hover {
    background: #ddd;
}


/* Game GUI */
#hud {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 6.5%;
    width: 50%;
    /*background-color: rgba(220, 220, 220, 0.1);*/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.playerHealthBarOutline {
    position: absolute;
    bottom: 0;
    left: 5%;
    height: 50%;
    width: 35%;
    background-color: rgba(240, 240, 240, 0.5);
    border: 1px solid #000;
    box-shadow: 1px 3px 10px rgba(0,0,0, 1);

    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
}

.enemyHealthBarOutline {
    position: absolute;
    bottom: 0;
    right: 5%;
    height: 50%;
    width: 35%;
    background-color: rgba(240, 240, 240, 0.5);
    border: 1px solid #000;
    box-shadow: 1px 3px 10px rgba(0,0,0, 1);

    transform: skew(45deg);
    -webkit-transform: skew(45deg);
}

#playerHealthBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(0, 255, 0, 0.8);
    transition: width 0.5s;
}

.enemyHealthBar {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(109, 31, 0, 0.8);
}

#xpContainer {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
    height: 400%;
    /*background-color: rgba(0, 220, 220, 0.5);*/
}

#xp {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 5vw;
    max-width: 64px;
    height: 5vw;
    max-height: 64px;
    border: 1px solid #000;
    background: rgba(220, 220, 220, 0.1);
    /*  margin:3px 0 0 30px;*/
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    color: black;

}

#xp p {
    margin: 2% 0 0 0;
    font-weight: bold;
    font-size: 3.2vw;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.level {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    height: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 3.1vw;
}

@keyframes jump {
    0% { top: 35%; }
    50% { top: 30% }
    100% { top: 35%; }
}

.jump {
    animation: jump 0.5s;
}


#xpCount {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    height: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    /*animation: jump 0.5s;*/
}

#overlay {
    display: none;
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 6vw;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.6);
    padding: 10px;
    border-top-right-radius: 10px;
}

#controls p {
    line-height: 6px;
    font-size: 14px;
    text-transform: uppercase;
}

#controls img {
    vertical-align: middle;
    height: 28px;
}
#controls img.smaller{
    height: 18px;
}

@media screen and (min-width: 1280px) {
    .level {
        font-size: 36px;
    }
}